body {
     margin: 0;
     background: #f2f2f2;
     font-family: sans-serif, Arial, Helvetica, sans-serif;
     font-weight: 300;
}

.container {
     width: 80%;
     margin: 0 auto;
}

header {
     background: #f2f2f2;
}

.logo {
   float: left;  
   padding-top: 20px;
}

header ::after {
     content: '';
     display: table;
     clear: both;
}

nav {
     float: right; 
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;   
}

nav li {
     display: inline-block;
     margin-left: 70px;
     padding-top: 35px;
     position: relative;
}

nav a {
     color: #759FBC;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
}

nav a:hover {
     color: black;
}

nav a:before {
     content: '';
     display: block;
     height: 5px;
     background-color: #759FBC;

     position: absolute;
     top: 0;
     width: 0%;

     transition: all ease-in-out 200ms;
}

nav a:hover::before {
     width: 100%;
}

i {
     padding-left: 50px;
}